<!-- Powerbarn Fitness — Email Header -->
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse;background-color:#121212;">
  <tr>
    <td align="center" style="padding:32px 0;">
      <img
        src="https://res.cloudinary.com/dirvzxmth/image/upload/v1774522103/Group_19_hnllfv.png"
        alt="Powerbarn Fitness"
        height="64"
        style="display:block;"
      />
    </td>
  </tr>
</table>
